
export_secret.sh

secrets.json

.venv
.env
__pycache__/translation_model.cpython-311.pyc
Pipfile.lock
Pipfile
/.vscode
frontend/node_modules
frontend/build
frontend/package-lock.json
backend/chroma_db
frontend/package-lock.json
