numpy<2.0.0
fasttext-wheel
fastapi
spacy
chromadb
azure-ai-translation-text
azure-core
llama-index
llama-index-llms-azure-openai
llama-index-embeddings-azure-openai
llama-index-vector-stores-chroma
botbuilder-core
botbuilder-schema
redis